label, input { 
  display: block; 
  
  text-align: left;
  width: 100%;
}
form  { 
  display: inline-table;  
  text-align: center;

}
button {
 padding-top: 20px
  align-items: center;

}
.rq {
color: #FF0000;
font-size: 10pt;
}

#content {
	width:930px;
  height:650px;
  margin:auto;
  font-family:'Ubuntu',sans-serif
  background-color:blue;
}
#divform {
  display: block;
  text-align:center;
  border:1px solid #ccc;
  width:300px;
  padding:50px;
  margin-top:20px;
  box-shadow:0 0 15px;
  border-radius:6px;
  float:left;
  border: 2px solid red;
  background-color:#D3D3D3;
	
}

#search{
  display: block;
  float:right;
  text-align:center;
  border:1px solid #ccc;
  width:300px;
  padding:50px;
  margin-top:20px;
  box-shadow:0 0 15px;
  border-radius:6px;
  border: 2px solid red;
  background-color:#D3D3D3;
}

